/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.global-card {
    background-color: #f8f8f8;
    padding: 15px;
  }
  
  .global-title {
    color: #333;
  }